@import "../../styles/variables.scss";

.collapsible-row {
  display: flex;
  cursor: pointer;
  & > div {
    padding: 2rem 1rem;
    font-size: 1rem;
    font-weight: 600;
  }
  & ~ & {
    border-top: 1px solid $grey-border-color;
  }
}
.collapsible-row :nth-child(1) {
  flex: 1 0 30%;
}
.collapsible-row :nth-child(2) {
  flex: 1 0 25%;
}
.collapsible-row :nth-child(3) {
  flex: 1 0 25%;
}
.collapsible-row :nth-child(4) {
  flex: 1 0 20%;
  text-align: center;
}

.not-foldable {
  cursor: auto;
}
